---
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";
import Hero from "../components/Hero.astro";
import IntroSection from "../components/IntroSection.astro";
import Footer from "../components/Footer.astro";
import ProjectsSection from "../components/ProjectsSection.astro";

export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Shikanime Studio</title>
    <meta
      name="description"
      content="Where ideas collide and imagination soars, we are proud dreamers on the mission to make them a reality"
    />
    <ViewTransitions />
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-FJ39X8JKGM"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-FJ39X8JKGM");
    </script>
  </head>
  <body>
    <div class="max-h-screen overflow-y-scroll scroll-smooth">
      <Hero />
      <IntroSection />
      <ProjectsSection />
      <Footer />
    </div>
  </body>
</html>
