<nav class="grid grid-flow-col gap-4">
  <a
    class="link-hover link"
    href="https://linkedin.com/company/infinity-horizons/jobs">Careers</a
  >
  <a class="link-hover link" href="mailto:contact@shikanime.studio">Contact</a>
</nav>
