---
import { Image } from "astro:assets";
import Logo from "../assets/header-logo.webp";
---

<div class="hero min-h-screen bg-base-100">
  <div class="hero-content">
    <div class="flex w-2/3 flex-col items-center gap-y-8">
      <Image
        src={Logo}
        alt="logo"
        class="mx-auto"
        loading="eager"
        quality="max"
      />
      <a href="#intro">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#f5712c"
          class="h-6 w-6"
          aria-labelledby="go-to-intro"
        >
          <title id="go-to-intro">Go to intro section</title>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
