---
import { Image } from "astro:assets";
import Logo from "../assets/header-logo.webp";
---

<div class="hero min-h-screen bg-primary">
  <div class="hero-content">
    <div class="flex w-2/3 flex-col items-center gap-y-8">
      <Image
        src={Logo}
        alt="logo"
        class="mx-auto"
        loading="eager"
        quality="max"
      />
    </div>
  </div>
</div>
