---
import Background from '../assets/background.webp';
---

<section
  id="intro"
  class="min-h-screen w-full flex flex-col items-center justify-center
  bg-[url('/images/background.webp')] bg-center"
>
  <div class="flex flex-col gap-y-4 max-w-prose p-4 backdrop-blur rounded">
    <h2 class="text-3xl font-extrabold">🔮 Our Dream</h2>
    <p class="text-xl">
      We are committed to cultivating an experience, a universe, and a movement
      that encapsulates the very essence of the ACG culture. Our journey is
      driven by a profound reverence for the past and an unwavering dedication
      to shaping the future. Together with our vibrant community, we are
      embarking on an extraordinary adventure that will forever revolutionize
      the way we engage with ACG.
    </p>
  </div>
</section>
