---
import { getImage } from "astro:assets";
import IntroSectionBackground from "../assets/intro-section-background.webp";

const optimizedIntroSectionBackground = await getImage({
  src: IntroSectionBackground,
});
---

<section
  id="intro"
  class="flex min-h-screen w-full flex-col items-center justify-center bg-base-100 bg-center"
  style={{ backgroundImage: `url('${optimizedIntroSectionBackground.src}')` }}
>
  <div class="flex max-w-prose flex-col gap-y-4 rounded p-4 backdrop-blur">
    <h2 class="text-3xl font-extrabold">✨ Our Dream</h2>
    <p class="text-xl">
      We are committed to cultivate an experience, a universe, and a movement
      that encapsulates the very essence of the ACGN culture. Our journey is
      driven by a profound reverence for the past and an unwavering dedication
      to shaping the future. Together with our vibrant community, we are
      embarking on an extraordinary adventure that will forever revolutionize
      the way we engage with ACGN.
    </p>
  </div>
</section>
