---
import { Image } from "astro:assets";
import Logo from "../assets/infinity-horizon-logo.webp";
import ProjectElkiaLogo from "../assets/project-elkia-logo.webp";
import ShikanimeStudioLogo from "../assets/shikanime-studio-logo.webp";
---

<section
  id="project-elkia"
  class="flex min-h-screen w-full flex-col items-center justify-center bg-base-100"
>
  <div class="flex flex-wrap justify-center gap-12 p-4">
    <a
      href="https://shikanime.notion.site/Infinity-Horizons-f0a47e34242b48109c20139ce5242890?pvs=4"
    >
      <Image
        src={Logo}
        alt="Infinity Horizons Logo"
        width="150"
        height="150"
        class="mx-auto"
        loading="lazy"
        quality="max"
      />
    </a>
    <a
      href="https://shikanime.notion.site/Project-Elkia-7546ce161bf14ea9b08f380c988b472f?pvs=4"
    >
      <Image
        src={ProjectElkiaLogo}
        alt="Project Elkia Logo"
        width="150"
        height="150"
        class="mx-auto"
        loading="lazy"
        quality="max"
      />
    </a>
    <a
      href="https://shikanime.notion.site/Shikanime-Studio-9f666bc9205a40e88d2adf8e7c73d226?pvs=4"
    >
      <Image
        src={ShikanimeStudioLogo}
        alt="Shikanime Studio Logo"
        width="150"
        height="150"
        class="mx-auto"
        loading="lazy"
        quality="max"
      />
    </a>
  </div>
</section>
