---
import { Image } from "astro:assets";
import Logo from "../assets/logo.webp";
import ProjectElkiaLogo from "../assets/project-elkia-logo.webp";
import ShikanimeStudioLogo from "../assets/shikanime-studio-logo.webp";
---

<section
  id="project-elkia"
  class="flex min-h-screen w-full flex-col items-center justify-center"
>
  <div class="flex flex-wrap gap-12 p-4">
    <a href="https://cyan-tractor-64a.notion.site/Infinity-Horizons-f0a47e34242b48109c20139ce5242890?pvs=4">
      <Image
        src={Logo}
        alt="Infinity Horizons Logo"
        width="150"
        height="150"
        class="mx-auto"
        loading="eager"
        quality="max"
      />
    </a>
    <Image
      src={ProjectElkiaLogo}
      alt="Project Elkia Logo"
      width="150"
      height="150"
      class="mx-auto"
      loading="eager"
      quality="max"
    />
    <Image
      src={ShikanimeStudioLogo}
      alt="Shianime Studio Logo"
      width="150"
      height="150"
      class="mx-auto"
      loading="eager"
      quality="max"
    />
  </div>
</section>
